.bottleHidden {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%;
  object-fit: cover; }

.bottleHidden::before {
  position: absolute;
  top: 0; }

.btlModal {
  position: absolute;
  top: 0; }

.stackTop {
  z-index: 9; }

.transl {
  background-color: rgba(245, 245, 245, 0.8); }

.modal-backdrop {
  background-color: black !important;
  opacity: 1 !important; }

.bd-example-modal-lg {
  background-color: transparent !important; }

.site-header a {
  color: gold;
  text-shadow: black 1px 1px; }

.site-header a:hover {
  text-shadow: gold 1px 1px;
  font-weight: 700;
  text-decoration: underline; }

body {
  background-color: black; }

footer h5 {
  color: gold !important; }

img {
  transition: 0.4s; }

.display-4 {
  text-shadow: 2px 3px 6px black;
  transition: 0.4s; }

.display-4:hover {
  transform: translate(4px, 4px); }
