.bottleHidden {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.bottleHidden::before {
  position: absolute;
  top: 0;
}

.btlModal {
  position: absolute;
  top: 0;
}

.stackTop {
  z-index: 9;
}

.transl {
  background-color: rgba(245, 245, 245, 0.8);
}

.mainImg {
}

.modal-backdrop {
     background-color: black !important;
     opacity:1 !important;
}

.bd-example-modal-lg {
  background-color: transparent !important;

}
